exportPattern("^[[:alpha:]]+")
importFrom(terra, rast)
importFrom(Rcpp,evalCpp)
importFrom(Rcpp,sourceCpp)
export(auc_parallel)
export(auc_metrics)
export(trap_roc)
export(summarize_auc_results)
useDynLib(fpROC)
